<!-- SEARCH -->
<html>
<head>
<%- partial('partials/commons/html_header.ejs')%>
</head>

<body>
<div data-role="page" data-theme="e" id="page3">
     <div data-theme="e" data-role="header">
         <div data-theme="e" data-role="header">
         </div>
         <div class="top_header">
             <img src="/images/head_title.png" alt="image" />
         </div>
<%- partial('partials/commons/navbar.ejs')%>
     </div>
    <div data-role="content" style="padding: 15px">
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-mini="true">
                <label for="searchinput1">
                    Name Search
                </label>
                <input id="searchinput1" placeholder="" value="konishi yuko" type="search" />
            </fieldset>
        </div>
        <div style="width: 70px; height: 70px; position: relative; background-color: #fbfbfb; border: 1px solid #b8b8b8;">
            <img src="http://codiqa.com/static/images/v2/image.png" alt="image" style="position: absolute; top: 50%; left: 50%; margin-left: -16px; margin-top: -18px" />
        </div>
        <div>
            <a href="http://sosaki-majidesenkyo.dev-paas.rakuten.co.jp/detail/?id=80" data-transition="fade">
                Link me to click me
            </a>
        </div>
        <div style="width: 70px; height: 70px; position: relative; background-color: #fbfbfb; border: 1px solid #b8b8b8;">
            <img src="http://codiqa.com/static/images/v2/image.png" alt="image" style="position: absolute; top: 50%; left: 50%; margin-left: -16px; margin-top: -18px" />
        </div>
        <div>
            <a href="http://sosaki-majidesenkyo.dev-paas.rakuten.co.jp/detail/?id=60" data-transition="fade">
                Link me to click me
            </a>
        </div>
        <div style="width: 70px; height: 70px; position: relative; background-color: #fbfbfb; border: 1px solid #b8b8b8;">
            <img src="http://codiqa.com/static/images/v2/image.png" alt="image" style="position: absolute; top: 50%; left: 50%; margin-left: -16px; margin-top: -18px" />
        </div>
        <div>
            <a href="http://sosaki-majidesenkyo.dev-paas.rakuten.co.jp/detail/?id=50" data-transition="fade">
                Link me to click me
            </a>
        </div>
        <div style="width: 70px; height: 70px; position: relative; background-color: #fbfbfb; border: 1px solid #b8b8b8;">
            <img src="http://codiqa.com/static/images/v2/image.png" alt="image" style="position: absolute; top: 50%; left: 50%; margin-left: -16px; margin-top: -18px" />
        </div>
        <div>
            <a href="http://sosaki-majidesenkyo.dev-paas.rakuten.co.jp/detail/?id=30" data-transition="fade">
                Link me to click me
            </a>
        </div>
    </div>
</div>
</body>
</html>
