        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>マジで総選挙 ～仁義なき戦い～</title>
        <meta name="keywords" content="総選挙 仁義なき戦い" />
        <meta name="description" content="日本全国をマジで総選挙. あなたの清き一票をお願いします！" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/jquery/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
        <link rel="stylesheet" href="/stylesheets/my.css" />
        <style>
            /* App custom styles */
.top_header {
    width: 315px;
    height: 80px;
    position: relative;
    background: url('/images/head_bg.jpg');
    border: 0px solid #b8b8b8;
}
.ui-body-e, .ui-overlay-e {
    background: #fefafc;
}
.ui-bar-e {
    background: #fefafc;
    border: 1px solid #fefafc;
}
.ui-btn-up-e, .ui-btn-hover-e {
    background: #FCC1E0;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FCE5F2),to(#FCC1E0));
    background-image: -webkit-linear-gradient(#FCE5F2,#FCC1E0);
    background-image: -moz-linear-gradient(#FCE5F2,#FCC1E0);
    background-image: -ms-linear-gradient(#FCE5F2,#FCC1E0);
    background-image: -o-linear-gradient(#FCE5F2,#FCC1E0);
    background-image: linear-gradient(#FCE5F2,#FCC1E0);
}
.ui-navbar {
    width: 316px;
}
        </style>
        <script src="/javascripts/jquery/jquery-1.7.1.min.js"></script>
        <script src="/javascripts/jquery/jquery.mobile-1.1.0.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/client.js"></script>
        <script src="/javascripts/my.js"></script>

