                <div data-role="navbar" data-iconpos="left">
                    <ul>
                        <li>
                            <a href="/" data-theme="" data-icon="home" rel="external">
                                TOP
                            </a>
                        </li>
                        <li>
                            <a href="/list/" data-theme="" data-icon="star" rel="external">
                                LIST
                            </a>
                        </li>
                        <li>
                            <a href="/search/" data-theme="" data-icon="search" rel="external">
                                SEARCH
                            </a>
                        </li>
                    </ul>
                </div>
