<!DOCTYPE html>
<html>
    <head>
<%- include partials/commons/html_header.ejs %>
    </head>
    <body>
        <!-- TOP -->
<%- include ad/2013/10/lm_sports_club.ejs %>
        <!-- LIST -->
        <!-- SEARCH -->
        <!-- DETAIL -->
        <script>
            //App custom javascript
        </script>
    </body>
</html>
