<!DOCTYPE html>
<html>
    <head>
<%- include partials/commons/html_header.ejs %>
    </head>
    <body>
        <!-- TOP -->
<%- include partials/top.ejs %>
        <!-- LIST -->
        <!-- SEARCH -->
        <!-- DETAIL -->
        <script>
            //App custom javascript
        </script>
    </body>
</html>
