<!DOCTYPE html>
<html>
    <head>
<%- partial('partials/commons/html_header.ejs')%>
    </head>
    <body>
        <!-- TOP -->
<%- partial('partials/top.ejs')%>
        <!-- LIST -->
        <!-- SEARCH -->
        <!-- DETAIL -->
        <script>
            //App custom javascript
        </script>
    </body>
</html>
