<!DOCTYPE html>
<html>
    <head>
<%- include ../../../partials/commons/html_header.ejs %>
	<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/list.css">
    </head>
<body  style="font-family: monospace; width: 315px;" >
<div data-role="page" data-theme="e" id="page2">
     <div data-theme="e" data-role="header">
         <div data-theme="e" data-role="header">
         </div>
         <div class="top_header">
             <img src="/images/head_title.png" alt="image" />
         </div>
<%- include ../../../partials/commons/navbar.ejs %>
     </div>
  <!-- contents_start *******************************-->
  <div id="contents">
  <section id="teamWrap">
      <div class="teamA">
    <hgroup>
      <h1>&nbsp;LM 運動部</h1>
    </hgroup>
    <div>
<p>
マッスル丹野を中心に活動しているLM運動部。<br>
LMとついていますが、来るもの拒まず去るもの追わずのなまやさしい部活です。<br>
フットサル・テニス・合宿なんでもやるので興味ある方はぜひ入部してください。<br>
参加するとバナーのような淡い青春体験ができるかもしれません。<br>
今なら入会無料！！<br>
</p>
<p><img src="/images/butoukai/ad/banner_20131005_2.png"></p>
    </div>
  </div>
</section>

  </div>
  <!-- contents_end  -->
<%- include ../../../partials/commons/footer.ejs %>
</div>

    </body>
</html>
